<%- include("./includes/header.ejs", {title: title}); %>

    <h1 align="center">~ <%= title %> ~</h1>

    <hr>
<p style="text-align:center">
    Welcome to the Wine Information Database! <br/>
    This database holds all the information you would like to know about the wines stored within. <br/>
    Something of this structure could be used by a wine tasting bar looking for a virtual approach to wine education. <br/>
    Use the links below for viewing of the data from entire tables to specified queries. <br/>
    You can also add more data to the tables, and delete preexisting ones as well. <br/>
    <br />
    Diagrams of the entire database are also available below:<br/>
    <a href="/images/RSD.pdf"> View Relational Schema / Functional Dependency Diagrams </a>
    <br />
    <a href="/images/ERD.pdf"> View ER Diagram </a>

</p>
    <hr>
    <p style="text-align:center"><u>~ Data Tables ~</u></p>

    <a href="/wine/all"><p style="text-align:center"> All Wines </p></a>

    <a href="/winery/all"><p style="text-align:center"> Detailed Winery Information </p></a>

    <a href="/variety/all"><p style="text-align:center"> Available Varieties </p></a>

    <a href="/area/all"><p style="text-align:center"> Wine Locations/Areas </p></a>

    <hr>

<%- include("./includes/footer.ejs"); %>
